@import 'variables';

.card {
  border-radius: $border-radius;
  box-shadow: 0px 0px 5px 0px $box-shadow-color;
  position: relative;
  background-color: #fafafa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__corner-buttons {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    opacity: 0;
    gap: 5px;

    .uibutton {
      box-shadow: 2px 2px 5px 0px $box-shadow-color;
      background: #212121;
      width: 25px;
      height: 25px;
      padding: 0px;
    }

    .uiicon {
      color: #fafafa;
      width: 0.7rem;
      height: 0.7rem;
    }
  }

  &:hover &__corner-buttons {
    opacity: 1;
  }

  &--editing {
    width: 100%;
    height: 100%;
  }

  &__content {
    overflow-y: auto;
    padding: 16px;
  }

  &__footer {
    display: flex;
    margin-top: 10px;
  }

  &__add-btn {
    // box-shadow: 2px 2px 5px 0px $box-shadow-color;
    outline: none;
    background: transparent;
    float: right;
  }

  &__title {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 10px;
  }

  &--nosections &__title {
    margin-bottom: 0px;
  }

  &__subtitle {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.8rem;
    margin: 5px 0px;
    width: 100%;
    padding: 0px;
    font-weight: 900;
  }

  &__sections {
    flex: 0 1 100%;
  }

  &__tags {
    margin-top: 8px;
    gap: 3px;
    display: flex;
  }
}
