.content {
  display: flex;
  align-items: flex-start;

  &__editable {
    height: 100%;
    flex: 0 1 100%;
  }

  &--readOnly &__editable {
    overflow: hidden;
  }

  &__tools {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;

    .uibutton {
      background: transparent;
    }
  }

  ul,
  ol {
    margin: 10px 0px;
  }
}
