<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% if (htmlWebpackPlugin.options.noCache) { %>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <% } %>
    <script>
      const global = globalThis;
    </script>
  </head>

  <body>
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>
